:root {
  --cor-principal: #f07027;
  --cor-destaque-branco: #f5f5f7;
  --cor-destaque-preto: #0f0f0f;
  --cor-complementar: #f0ae26;
  --font-principal: "Russo One", sans-serif;
  --font-secundaria: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 48px clamp(1rem, 8vw, 15rem);
}

/*------------ ESTILIZAÇÃO DO HEADER-----------*/
.header {
  font-family: var(--font-secundaria);
  color: var(--cor-destaque-branco);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 8px 16px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-logo {
  justify-self: start;
}

.header-nav {
  justify-self: center;
}

.header-btn-container {
  justify-self: end;
}

.header-btn {
  font-size: clamp(0.8rem, 0.5vw, 1rem);
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.header-nav ul a {
  text-decoration: none;
  color: var(--cor-destaque-branco);
}

.header-nav li {
  list-style: none;
}

.btn {
  font-family: var(--font-secundaria);
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: var(--cor-principal);
  color: var(--cor-destaque-branco);
  padding: 8px 16px;
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
  .header-nav {
    display: none;
  }
}

/* ------------ ESTILIZAÇÃO DO BODY---------- */
/*                    HERO                    */
.hero {
  position: relative;
  min-height: clamp(55vh, 75vh, 80vh);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px clamp(1rem, 5vw, 15rem);
  background-image: url("assets/imgs/foto-fundo-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 35%,
    rgba(240, 112, 39, 0.5) 100%
  );
  z-index: 0;
}

@media (width <= 668px) {
  .hero {
    background-position: 70% center;
  }
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  z-index: 1;
  color: var(--cor-destaque-branco);
  width: clamp(200px, 60vw, 500px);
  text-align: center;
}

.hero-text h1 {
  width: clamp(220px, 60vw, 1000px);
  font-size: clamp(2rem, 3.5vw, 4rem);
  font-family: var(--font-principal);
  margin-bottom: 4px;
}

.hero-text h2 {
  font-size: clamp(1rem, 1.2vw, 2rem);
  font-family: var(--font-secundaria);
  font-weight: 400;
}

.hero-btn {
  padding: 12px 24px;
  width: 180px;
}

/*                  SOBRE MIM                 */
.sobre-mim {
  position: relative;
  background-color: var(--cor-destaque-branco);
  padding-right: clamp(1rem, 8vw, 15rem);
  padding-left: clamp(1rem, 8vw, 15rem);
  display: flex;
  align-items: center;
  gap: 36px;
  justify-content: center;
  padding: 64px;
}

.divisoria {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: var(--cor-principal);
}

@media (width <= 750px) {
  .sobre-mim {
    flex-direction: column;
  }
}

.sobre-mim-img-content {
  height: 450px;
}

.sobre-mim-title h2 {
  font-size: clamp(2rem, 2vw, 5rem);
  font-family: var(--font-principal);
}

.sobre-mim-title h3 {
  font-size: clamp(1rem, 1vw, 3rem);
  font-family: var(--font-secundaria);
  font-weight: 400;
}

.sobre-mim-subtitle-strong {
  color: var(--cor-principal);
}

.sobre-mim-cards-container {
  padding-top: 8px;
}

.sobre-mim-cards {
  border: 2px solid var(--cor-complementar);
  border-radius: 8px;
  align-items: center;
  display: flex;
  margin-top: 12px;
  padding: 8px 12px;
  gap: 12px;
}

.sobre-mim-cards p {
  font-family: var(--font-secundaria);
  font-weight: 700;
  color: var(--cor-principal);
}

.sobre-mim-cards img {
  width: 36px;
  padding: 4px;
  border-radius: 8px;
  background-color: var(--cor-complementar);
}

/*                  SERVIÇOS                 */
.servicos {
  background-color: var(--cor-principal);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.servicos-text-container {
  color: var(--cor-destaque-branco);
}

.servicos-text-container h2 {
  font-size: clamp(2rem, 2vw, 5rem);
  font-family: var(--font-principal);
}

.servicos-text-container p {
  font-weight: 400;
  font-family: var(--font-secundaria);
}

.servicos-card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
}

@media (width <= 960px) {
  .servicos-card-container {
    align-items: center;
    flex-direction: column;
  }
}

.servico-card {
  border-radius: 12px;
  overflow: hidden;
}

.servico-card-text {
  padding: 16px 24px;
  background-color: var(--cor-destaque-branco);
  font-family: var(--font-secundaria);
}

.servico-card-text h3 {
  color: var(--cor-principal);
  margin-bottom: 8px;
}

.servico-card img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.servicos-btn {
  align-self: center;
  color: var(--cor-destaque-branco);
  background-color: var(--cor-complementar);
  padding: 12px 24px;
  width: 180px;
}

/*                 DEPOIMENTOS                */

.depoimentos-text-container {
  color: var(--cor-principal);
}

.depoimentos-text-container h2 {
  font-size: clamp(2rem, 2vw, 5rem);
  font-family: var(--font-principal);
}

.depoimentos-text-container p {
  font-weight: 400;
  font-family: var(--font-secundaria);
}

/*            PERGUNTAS FREQUENTES           */

.faq {
  display: flex;
  justify-content: space-between;
}

.faq-text-container {
  color: var(--cor-principal);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-titulo h2 {
  font-size: clamp(2rem, 2vw, 5rem);
  font-family: var(--font-principal);
}

.faq-titulo p {
  font-family: var(--font-secundaria);
}

.faq-mais-duvidas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.faq-mais-duvidas p {
  font-weight: 400;
  font-family: var(--font-secundaria);
}

